trunk/Laan.ObjectSync/Laan.ObjectSync.Client/Service References/MessageServer/Laan.ObjectSync.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Laan.ObjectSync" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Laan.ObjectSync" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTypeDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeDefinition" nillable="true" type="tns:TypeDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeDefinition" nillable="true" type="tns:ArrayOfTypeDefinition" />
  <xs:complexType name="TypeDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeDefinition" nillable="true" type="tns:TypeDefinition" />
</xs:schema>